<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="{{bootstrapDataParent + 'heading'}}">
    <h4 class="panel-title">
      <input type="checkbox" [checked]="selected" (change)="toggleCheckBox()">
      {{module?.title}}
      <a *ngIf="module?.children.length" class="glyphicon glyphicon-triangle-bottom" role="button" data-toggle="collapse" [attr.data-parent]="bootstrapDataParent" href="{{'#' + bootstrapDataParent + 'collapse'}}" aria-expanded="true" [attr.aria-controls]="module?.title"></a>
    </h4>
  </div>
  <div *ngIf="module?.children.length" id="{{bootstrapDataParent + 'collapse'}}" class="panel-collapse collapse" role="tabpanel" [attr.aria-labelledby]="bootstrapDataParent + 'heading'">
    <div class="panel-body">
      <div class="panel-group" id="{{bootstrapDataParent}}" aria-multiselectable="true">
        <!--recursion-->
        <book-tree *ngFor="let child of module?.children" [selected]="selected" [module]="child"></book-tree>
        <!--/recursion-->
      </div>
    </div>
  </div>
</div>
