<a *ngFor="let card of deck.cards" class="list-group-item clearfix card-list-item">
  <h5 class="list-group-item-heading">{{card.term}}</h5>
  <p class="list-group-item-text">{{card.definition}}</p>
  <span class="card-remove-button-span">
    <button type="button" class="btn btn-default btn-xs pull-right" style="position: absolute;right: 2%; top: 38%;" (click)="deleteCard(card)">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
    <button type="button" class="btn btn-default btn-xs pull-right" style="position: absolute;right: 5%; top: 38%;">
      <span class="glyphicon glyphicon-pencil"></span>
    </button>
  </span>
</a>

