<div *ngIf="deck">
<div class="container-fluid" [style.background]="hexToRGB(deck.color, 1)">
  <div class="container" style="max-height: 56px;">
    <h3 *ngIf="!editTitle" style="color: white;">{{deck.title}}</h3>

    <div *ngIf="editTitle">
      <input [(ngModel)]="deck.title" type="text" placeholder="Deck name" #titlefocusable class="input-deck-title"/>
      <button (click)="saveDeck()" class="btn-deck-title-edit" type="button">
        <div style="font-size: 20px;" class="glyphicon glyphicon-ok-sign"></div>
      </button>
      <button (click)="hideEditTitle()" class="btn-deck-title-edit" type="button" style="height: 50px;">
        <div style="font-size: 20px;" class="glyphicon glyphicon-remove-sign"></div>
      </button>
    </div>

  </div>
</div>


<div class="container-fluid" [style.background]="hexToRGB(deck.color, 0.5)">
  <div class="container" style="padding-top: 10px; padding-bottom: 10px;">
    <button type="button" class="btn btn-default" (click)="goBack()">Back</button>
    <button type="button" class="btn btn-default" (click)="toggleEditTitle()">Edit</button>

    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [style.background]="deck.color" style="color: white;">
        Color <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" style="padding-top: 0; padding-bottom: 0; border-radius: 0;">
        <li *ngFor="let color of colors"><a (click)="changeDeckColor(color)" [style.background]="color" style="cursor: pointer;">&nbsp;</a></li>
      </ul>
    </div>

    <button type="button" #deleteButton class="btn btn-default pull-right" [ngClass]="{'btn-danger': deleteButtonClicked}" (click)="deleteDeckClicked(deck)">{{deleteText}}</button>


  </div>
</div>

  <div class="container-fluid" [style.background]="hexToRGB(deck.color, 0.3)">
    <div class="container" style="padding-top: 10px; padding-bottom: 10px">
      <button type="button" style="width: 182px;" class="btn btn-default" [routerLink]="['flip']">Flip</button>
      <button type="button" style="width: 182px;" class="btn btn-default">Test</button>

    </div>
  </div>

<div class="container-fluid"  style="background-color: #f9f9f9; padding-top: 20px;">
  <div class="container">
    <div class="add-card-slide-container">

      <div class="panel panel-default parent-slide-container">
        <div class="panel-body">

            <a type="button" class="btn btn-lg btn-default btn-large-main" (click)="toggleAddCardButton()">
              Add flashcards
            </a>
            <a type="button" class="btn btn-lg btn-default btn-large-main pull-right">Connect to book</a>

        </div>
      </div>

      <div class="panel panel-default child-slide-container" [style.top]="top" id="slider">
        <div class="panel-body">
          <card-form (onCreateCard)="addCard($event)" [deck]="deck"></card-form>
        </div>
      </div>

    </div>

    <div class="panel panel-default below-slide-container" [style.top]="topBelow" style="max-height: 500px; overflow-y: scroll;">
      <div class="list-group">
        <card-container [deck]="deck"></card-container>
      </div>
    </div>

  </div>
</div>
</div>

<div *ngIf="!deck && !deckNotFound">
  <span class="glyphicon glyphicon-refresh spinning"></span>
</div>

<div *ngIf="deckNotFound">
  <h1 style="text-align: center">Deck not found :(</h1>
</div>
