<!--<h3>Decks</h3>-->
<!--<ul class="decks">-->
  <!--<li *ngFor="let deck of decks"-->
      <!--[class.selected]="deck === selectedDeck"-->
      <!--(click)="onSelect(deck)">-->
    <!--<span class="badge">{{deck.id}}</span> {{deck.name}}-->
  <!--</li>-->
<!--</ul>-->
<!--<div *ngIf="selectedDeck">-->
  <!--<h2>-->
    <!--{{selectedDeck.name}}-->
  <!--</h2>-->
  <!--<button (click)="gotoDetail()">View Deck</button>-->
<!--</div>-->

<div class="container">
  <div class="row">
    <div class="col-lg-6 text-center">
      <h1 class="page-header text-center">My Flashcards</h1>
      <div class="btn-group text-right" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary text-right"><i class="glyphicon glyphicon-th-list"></i></button>
        <button type="button" class="btn btn-secondary text-right"><i class="glyphicon glyphicon-th-large"></i></button>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <!-- /.row -->

  <!-- Projects Row -->
  <div class="row">
    <div class="col-md-4 portfolio-item">
      <a href="#">
        <img class="img-responsive" src="http://www.candlechem.com/images/D156wedgewood.gif" alt="Dark Blue Block">
      </a>
      <h3>
        <a href="#">Physics 101</a>
      </h3>
      <p>Definitions of waves</p>
    </div>
  </div>
  <!-- /.row -->

</div>
