<div *ngIf="deck">

  <div class="form-group">
    <div class="input-group">
      <input [(ngModel)]="deck.name" class="form-control input-lg" id="inputlg" style="font-size: 25px" type="text" placeholder="name" />
      <span class="input-group-btn">
          <button (click)="save()" class="btn btn-default input-lg" type="button">Save</button>
      </span>
    </div>
  </div>

  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title">Deck preview</h3>
    </div>

    <div class="panel-body">
      <table class="table table-striped">
        <tbody>
          <tr *ngFor="let card of deck.cards">
            <td class="col-md-2">{{card.term}}</td>
            <td class="col-md-2">{{card.definition}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>



  <button type="button" class="btn btn-default" (click)="goBack()">Back</button>
  <button type="button" class="btn btn-success">Study</button>
  <button type="button" class="btn btn-danger" (click)="deleteDeck(deck);">Delete deck</button>

</div>

<div *ngIf="!deck">
  <span class="glyphicon glyphicon-refresh spinning"></span> Loading...
</div>

<script language="JavaScript">
  jQuery(document).ready(function(){
    $("#pop").popover();
  });
</script>

