<div *ngIf="deck">



  <div *ngIf="editTitle" class="form-group">

    <div class="input-group">
      <input [(ngModel)]="deck.name" class="form-control input-lg title-edit-input" id="inputlg"  type="text" placeholder="name" style="height: 50px; background-color: #f9f9f9"/>

      <div class="input-group-btn">
            <button (click)="save()" class="btn btn-default input-lg" type="button" style="height: 50px;">Save</button>
            <button (click)="hideEditTitle()" class="btn btn-default input-lg" type="button" style="height: 50px;">
              <div class="glyphicon glyphicon-remove"></div>
            </button>
      </div>

    </div>

  </div>

  <div *ngIf="!editTitle" class="panel panel-default title-edit-panel" style="height: 50px; cursor: pointer;" (click)="toggleEditTitle()">
    <div class="panel-body" style="font-size: 18px;">
      {{deck.name}}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <button type="button" class="btn btn-default" (click)="goBack()">Back</button>
      <button type="button" class="btn btn-danger pull-right" (click)="deleteDeck(deck);">Delete deck</button>

      <div class="btn-group" role="group">
        <button *ngFor="let color of colors" type="button" class="btn btn-default" (click)="changeDeckColor(color)" [style.background]="color" style="border: transparent">&nbsp;&nbsp;&nbsp;</button>
      </div>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">

      <button type="button" class="btn btn-lg btn-block btn-primary">Study!</button>
      <div class="btn-group btn-group-justified" role="group">
      <a type="button" class="btn btn-lg btn-default">Add cards from book</a>
      <a type="button" class="btn btn-lg btn-default" (click)="toggleAddCardButton()">Add custom cards</a>
      </div>
    </div>
  </div>

  <div *ngIf="addCardButtonClicked" class="panel panel-default">
    <div class="panel-body">
      <card-form [deck]="deck"></card-form>
    </div>
  </div>

  <div class="panel panel-default">

    <!--<div class="panel-heading">-->
      <!--<h3 class="panel-title">Flashcards</h3>-->
    <!--</div>-->


    <!--<table class="table table-striped">-->
      <!--<thead>-->
        <!--<th>Term</th>-->
        <!--<th>Definition</th>-->
        <!--<th>Delete</th>-->
      <!--</thead>-->
      <!--<tbody>-->
        <!--<tr *ngFor="let card of deck.cards">-->
          <!--<td class="">{{card.term}}</td>-->
          <!--<td class="">{{card.definition}}</td>-->
          <!--<td class="glyphicon glyphicon-remove"></td>-->
        <!--</tr>-->
      <!--</tbody>-->
    <!--</table>-->

    <div class="list-group">
      <a *ngFor="let card of deck.cards" href="#" class="list-group-item">
        <h4 class="list-group-item-heading">{{card.term}}</h4>
        <p class="list-group-item-text">{{card.definition}}</p>
      </a>
    </div>


  </div>
</div>

<div *ngIf="!deck">
  <span class="glyphicon glyphicon-refresh spinning"></span> Loading...
</div>



