<!--Left side menu bar-->
<div *ngIf="deck.cards">
  <div class="row">
      <div class="col-md-2">
          <div class="list-group ">
              <a href="/decks" class="list-group-item"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
              <a href="#" class="list-group-item"><i class="glyphicon glyphicon-random"></i> Shuffle</a>
              <!--<a href="#" class="list-group-item"><i class="glyphicon glyphicon-pencil"></i> New Card</a>-->
              <li class="list-group-item">Progress {{this.currentCardIndex+1}}/{{this.deck.cards.length}}
                  <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="20"  aria-valuemin="0" aria-valuemax="100" style="width:56%">
                          <span class="sr-only">{{this.currentCardIndex}}% complete</span>
                      </div>
                  </div>
              </li>
          </div>
      </div>
  
  <!--Flashcard-->
  <div class="col-md-10" >
      <div class="flashcard" (click)="flipCard()">
          <div class="front">
              <p>{{this.currentCard.term}}</p>
          </div>
          <div class="back">
              <p>{{this.currentCard.definition}}</p>
          </div>
      </div>
    <div class="text-center">
      <button type="button" class='btn btn-primary' (click)="previousCard()">Previous</button>
      <button type="button" class="btn btn-primary" (click)="nextCard()">Next</button>
    </div>
  </div>
</div>
</div>


