:root {
  --card-height: 90%;
  --card-width: 80%;
}

div {
  display: block;
}

.list-group {
    padding-top:25px;
}

.sidebar {
  border-right: 1px solid #e5e5e5;
  position: absolute;
  width: 250px;
  height: 100%;
  background-color: #f9f9f9;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.sidebar .sidebar-section{
  padding: 1.5rem 1.5rem 1rem 1rem;
}

/*Flip animation  */
.flipped, .back {
  transform: rotateX(180deg);
  transform-style: preserve-3d;
  -webkit-transform: rotateX(180deg);
}

.front, .back {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 auto;
  display: table;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  overflow: scroll;
}

.front p{
  /* margin-top: 25%; */
  height: 100%;
  width: 100%;
  font-size: 10px;
  font-size: 4vw;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  word-break: break-all;
  overflow: scroll;
}

.back p {
  /* margin-top: 25%; */
  height: 100%;
  width: 100%;
  padding: 15px;
  font-size: 10px;
  font-size: 3vw;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  word-break: break-all;
  overflow: scroll;
}

/*Slide transition CSS  */
.card_space{
  position: relative;
  height: 70vh;
  width: 100%;
}

#end-page{
  position: relative;
  display: none;
  height: 70vh;
  width: 100%;
  margin: 0 auto;
  padding-top: 10%;
  text-align: center;
  font-size: 3vw;
  
}

#restart {
  color: white;
}

 /* flashcardcontainer and .card_space should have the same width */
.flashcardcontainer{
  perspective: 250px;
  position: absolute;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.nav_buttons {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.flashcard, .pseudocard{
  height: 90%; 
  width: 80%;
  left: 10%;
  position: absolute;
  background-color:white;
  box-shadow: 3px 3px 0px 0px #888888;
  margin: 3% auto;
  border: 1px solid gray;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.cur-reappear {
  position: absolute;
  left: 10%;
  height: 90%;
  width: 80%;
  background-color:white;
  margin: 3% auto;
  border: 1px solid gray;
  animation: fade-in 0.7s;
}

/* current card becomes previous card */
.prev-left {
  position: absolute;
  left: 10%;
  height: 90%;
  width: 80%;
  background-color:white;
  box-shadow: 3px 3px 0px 0px #888888;
  margin: 3% auto;
  border: 1px solid gray;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  animation: left-exit 0.5s,
             fade-out 0.5s;
}

/* previous card becomes current card */
.prev-right {
  position: absolute;
  left: 10%;
  height: 90%;
  width: 80%;
  background-color:white;
  box-shadow: 3px 3px 0px 0px #888888;
  margin: 3% auto;
  border: 1px solid gray;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  animation: left-enter 0.5s,
            fade-in 0.5s;
}

/* next card becomes current card */
.next-left{
  position: absolute;
  left: 10%;
  height: 90%;
  width: 80%;
  background-color:white;
  box-shadow: 3px 3px 0px 0px #888888;
  margin: 3% auto;
  border: 1px solid gray;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  animation: right-enter 0.5s,
            fade-in 0.5s;
}

/* current card becomes next card */
.next-right{
  position: absolute;
  left: 10%;
  height: 90%;
  width: 80%;
  background-color:white;
  box-shadow: 3px 3px 0px 0px #888888;
  margin: 3% auto;
  border: 1px solid gray;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
   animation: right-exit 0.5s,
             fade-out 0.5s;
}

@keyframes left-exit {
  to {
    transform: rotateY(7deg);
  }
}

@keyframes left-enter {
  from {
    transform: rotateY(7deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@keyframes right-enter {
  from {
    transform: rotateY(-9deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@keyframes right-exit {
  to {
    transform: rotateY(-9deg);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
