<div class="jumbotron" style="background-color: #15837D;">
  <div class="container" style="padding-top: 6rem;">
    <h1 style="font-size: 98px; color: white;">Get flipping!</h1>
    <h3 style="color: #d3f8f6;">Study OpenStax textbooks with ease with our integrated flashcard tool.</h3>
  </div>
</div>

<div class="container-fluid" style="background-color: #65A234; height: 200px;">
  <div class="container" style="padding-top: 6rem">
    <h3 style="color: white">easily generate flashcards from our textbooks</h3>
    <h4 style="color: #dbff98">select one or several chapters, a whole unit, or the entire textbook</h4>
  </div>
</div>

<div class="container-fluid" style="background-color: #EF5F33; height: 200px;">
  <div class="container" style="padding-top: 6rem;">
    <h3 style="color: white">make and edit custom cards</h3>
    <h4 style="color: #ffe4d6">add your own, or edit generated cards!</h4>
  </div>
</div>

<div class="container-fluid" style="background-color: #1BB3D3; height: 200px;">
  <div class="container" style="padding-top: 6rem;">
    <h3 style="color: white">study more effectively</h3>
  </div>
</div>

<div class="container-fluid" style="background-color: #FDB32F; height: 350px;">
  <div class="container text-center" style="padding-top: 6rem;">
    <h3 style="color: white">Get started today</h3>
    <br>
    <button class="btn btn-info btn-lg">Create an account</button>
  </div>
</div>


