<div class="container-fluid" style="background-color: lightgray;">
    <div class="container">
        <h3>Study</h3>
    </div>
</div>

<div class="container" style="width: 100%">
    <div class="progress" style="border-radius: 0; width: 100%;">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': getProgress() + '%'}">
            <span class="sr-only">60% Complete</span>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="flashcard-container">
            <div class="flashcard" (click)="flipCard()" [ngClass]="{'flipped': cardFlipped}">
                <div class="flashcard-face front">
                    <div class="flashcard-text" [ngStyle]="{'font-size': getFontSize('term')}">
                        {{deck.cards[currentCardIndex].term}}
                    </div>
                </div>
                <div class="flashcard-face back">
                    <div class="flashcard-text" [ngStyle]="{'font-size': getFontSize('definition')}">
                        {{deck.cards[currentCardIndex].definition}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <div class="btn-group" role="group" aria-label="">
                <button type="button" class="btn btn-lg btn-default" (click)="prevCard()">
                    <span class="glyphicon glyphicon-circle-arrow-left"></span>
                </button>
                <button type="button" class="btn btn-lg btn-default" (click)="nextCard()">
                    <span class="glyphicon glyphicon-circle-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>
</div>
