h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.deck-container {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: center top;
  transform-style: preserve-3d;
}

.deck {
  background-color: #1B2152;
  height: 200px;
  width: 350px;
  position: relative;
  margin: 15px;
  transition: all .2s ease;
  -webkit-transform: rotateY(0deg);
  -webkit-transform-origin: left center; /* Chrome, Safari, Opera */
  box-shadow: 0 5px 5px rgba(0,0,0,0.15);
  cursor: pointer;
}

.deck.deck-footer{
  width: 350px;
  height: 30px;
  background-color: white;
  opacity: 0.3;
  position: absolute;
  bottom: -15px;
  left: -15px;
  box-shadow: none;
}

.deck:hover {
  -webkit-transform: rotateY(-3deg);
}

.deck-text {
  font-family: Helvetica, sans-serif;
  font-size: 45px;
  font-weight: bold;
  color: #FDB32F;
  position: absolute;
  top: -15px;
  left: -1px;
}

.glyphicon.glyphicon-plus.deck-plus {
  font-size: 20px;
  color: #FFF;
  top: 15px;
  left: 15px;
}

.container-fluid.decks-header {
  background-color: #e5e5e5;
  width: 100%;
}


#page-wrap {
  width: 1200px;
  margin: 0 auto;
}
