h1 {
  color: #369;
  font-family: Avenir, Helvetica, sans-serif;
  font-size: 250%;
}

.deck-container {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.deck {
  background-color: #15837D;
  height: 200px;
  width: 350px;
  position: relative;
  margin: 15px;
  transition: all .3s ease;
  box-shadow: 10px 0 15px -5px rgba(0,0,0,0);
  -webkit-transform: rotateY(0deg);
  -webkit-transform-origin: left center; /* Chrome, Safari, Opera */
  cursor: pointer;
  border-radius: 5px;
}

.deck:hover {
  -webkit-transform: rotateY(-7deg);
  box-shadow: 10px 0 15px -5px rgba(0,0,0,0.3);
}

.deck.deck-add {
  box-shadow: 0 3px 6px rgba(0,0,0,0), 0 3px 6px rgba(0,0,0,0);
  transition: all 0.3s;
}
.deck.deck-add:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s;
  transform: translateZ(5px);
}

.deck.deck-footer{
  width: 350px;
  height: 30px;
  background-color: white;
  opacity: 0.3;
  position: absolute;
  bottom: -15px;
  left: -15px;
  box-shadow: none;
  border-radius: 0px;
}



.deck-text {
  font-family: Avenir, sans-serif;
  font-size: 30px;
  font-weight: lighter;
  color: #ffffff;
  position: absolute;
  left: 5px;
  top: 0;
}

.container-fluid.decks-header {
  background-color: #e5e5e5;
  width: 100%;
}


#page-wrap {
  width: 1200px;
  margin: 0 auto;
}

.flip-container {
  perspective: 1000px;
  -webkit-perspective: 1000px;
}
.flip-container.hover .flipper {
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform-origin: center center;
  -webkit-transform-origin: center center; /* Chrome, Safari, Opera */
}

.flip-container,
.front,
.back {
  height: 200px;
  width: 350px;
}
.flipper {
  background-color: #15837D;
  height: 200px;
  width: 350px;
  position: relative;
  margin: 15px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 10px 0 15px -5px rgba(0,0,0,0);

  transition: 0.5s;
  -webkit-transition: 0.5s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-origin: left center;
  -webkit-transform-origin: left center;

}
.front,
.back {
  position: absolute;
  top: 0;
  left: 0;

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.front {
  z-index: 2;
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
}
.back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.flipper:hover {
  box-shadow: 10px 0 15px -5px rgba(0,0,0,0.3);

  transform: rotateY(-3deg);
  -webkit-transform: rotateY(-3deg);
}

.glyphicon.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
