<div class="container-fluid" style="background-color: lightgray;">
  <div class="container">
    <h3>Select book</h3>
  </div>
</div>

<div class="container-fluid">
  <div class="container" style="margin: 20px auto;">
    <div class="row">

      <div *ngFor="let book of booksJSON" class="col-lg-3 col-md-4 col-xs-6 book">
        <a *ngIf="!book.coming_soon" [routerLink]="['./', book.cnx_id]">
            <img src="{{book.cover_url}}" alt="{{book.title}}" class="cover">
        </a>
        <div *ngIf="book.coming_soon">
          <img src="{{book.cover_url}}" alt="{{book.title}}" class="cover coming-soon">
          Coming soon
        </div>

      </div>

    </div>
  </div>
</div>
